USE [master]
GO
Create database SamplePE
GO
USE SamplePE
GO
CREATE TABLE [dbo].[Customers](
	[Code] [int] NOT NULL primary key,
	[Name] [nvarchar](30) NOT NULL,
	[Dob] datetime not NULL,
	[Gender] [bit] NULL,
	[Address] [nvarchar](50) NULL
)
GO

insert into Customers values(1,'Tran Hung Cuong',CAST(N'1989-03-04' AS Date),1,'Gia Lam, Ha Noi')
insert into Customers values(2,'Le Thi Van',CAST(N'1990-05-04' AS Date),0,'Dong Anh, Ha Noi')
insert into Customers values(3,'Nguyen Thanh Cong',CAST(N'1980-07-04' AS Date),1,'Hoan Kiem, Ha Noi')
GO